$color-primary-light : #ea6f5a !default;
$color-bg : #f0f0f0 !default;
$color-font : #333 !default;
$color-font-light : #969696 !default;
$color-primary : #ec6149 !default;
// $color-primary : #ea6f5a !default;
// $color-primary : #ea6f5a !default;
// $color-primary : #ea6f5a !default;